.Raleway {
  font-family: 'Raleway', sans-serif;
}

.SourceSansPro {
  font-family: 'Source Sans Pro', sans-serif;
}

.Sura {
  font-family: 'Sura', serif;
}

.Muli {
  font-family: 'Muli', sans-serif;
}

@font-face {
    font-family: 'Raleway', sans-serif;
    src: url('./fonts/raleway/Raleway-Medium.ttf');
}
